.question_selector {
    padding: 0.1rem 0.5rem;
    border-radius: 5rem;
}

.question_selector:hover {
    cursor: pointer;
}

.editor-container{
    width:500px;
}

.ql-editor{
    min-height:500px;
    font-family: Courier, monospace;
    font-size: 12pt;
    counter-reset: line;
    padding-left: 0;
}
  
.ql-editor p:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888
}