.question_selector {
    padding: 0.1rem 0.5rem;
    border-radius: 5rem;
}

.question_selector:hover {
    cursor: pointer;
}

.editor-container{
    width:500px;
}

.ql-editor{
    min-height:500px;
}