:root {
  --codeColor: #546e7a;
  --codeBg: #f7f9fa;
  --gray: #e8eaeb;
  --yellow: rgb(255 184 0);
  --green: rgb(0 175 155);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: var(--codeColor);
  background-color: var(--codeBg);
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 3px;
  font-family: monospace;
}
